<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>tommorrows_meal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	<servlet-name>idcheckServlet</servlet-name>
	<servlet-class>com.tmeal.idcheck.idcheckServlet</servlet-class>
  </servlet>


<servlet-mapping>
<servlet-name>idcheckServlet</servlet-name>
<url-pattern>/idcheckServlet</url-pattern>
</servlet-mapping>

  <servlet>
	<servlet-name>pwcheckServlet</servlet-name>
	<servlet-class>com.tmeal.pwcheck.pwcheckServlet</servlet-class>
  </servlet>


<servlet-mapping>
<servlet-name>pwcheckServlet</servlet-name>
<url-pattern>/pwcheckServlet</url-pattern>
</servlet-mapping>
 
 
 <servlet>
	<servlet-name>replyServlet</servlet-name>
	<servlet-class>com.tmeal.reply.replyServlet</servlet-class>
 </servlet>


<servlet-mapping>
<servlet-name>replyServlet</servlet-name>
<url-pattern>/replyServlet</url-pattern>
</servlet-mapping>
  
  
</web-app>


